# Scripting only - Used by the getUnsplashPhoto.js script to fetch a photo from Unsplash for blog posts
UNSPLASH_API_KEY=

# Fetch the latest web mentions for this website
WEBMENTION_IO_TOKEN=

# For purging cloudflare cache
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
