@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Alpine feature that allows you to hide elements until Alpine is ready.
Used for FOUC and to hide elements that require JavaScript to function.
*/
[x-cloak] {
  display: none !important;
}

/*
Post header transitions on mobile (the header changes when you scroll)
*/
@media (max-width: 1023px) {
  .post-header .post-emo {
    transition: max-width 300ms ease-out, opacity 300ms ease-out;
  }
  .post-header .post-tags {
    transition: max-height 200ms ease-out, opacity 200ms ease-out;
  }
}

/* customize scrollbar for browsers that support WebKit scrollbar */
@supports selector(::-webkit-scrollbar) {
  @media (min-width: 1024px) {
    ::-webkit-scrollbar {
      @apply w-4 border-2 border-fg dark:border-primary dark:border-opacity-60;
    }
    ::-webkit-scrollbar-thumb {
      @apply cursor-pointer bg-bg-raised dark:bg-primary dark:bg-opacity-60;
    }
    ::-webkit-scrollbar-track {
      @apply bg-fg px-1 dark:bg-bg;
    }
  }
}

/* customize scrollbar for browsers that support the CSS scrollbar properties */
@media (min-width: 1024px) {
  * {
    scrollbar-width: thick;
    scrollbar-color: var(--fg) var(--border);
    /* Avoid jumps in layout from scrollbar showing or disappearing. */
    scrollbar-gutter: stable both-edges;
  }
  @media (prefers-color-scheme: dark) {
    * {
      scrollbar-color: var(--fg) var(--border);
    }
  }
}

/* customize text selection */
::selection {
  @apply bg-primary dark:bg-primary text-fg dark:text-bg;
}

:root {
  --bg: #fdfacb;
  --bg-raised: #fefbe2;

  --fg: #27211d;
  --fg-highlight: var(--fg);
  --fg-muted: #836643;

  --primary: #fbcd5c;
  --primary-highlight: #1f1a16;
  --primary-muted: #836643;

  --border: #e9e5b9;

  @media (prefers-color-scheme: dark) {
    --bg: #1f1a16;
    --bg-raised: #27211d;

    --fg: #fdfacb;
    --fg-highlight: #fbcd5c;
    --fg-muted: #b78447;

    --primary: #fbcd5c;
    --primary-highlight: #fdfacb;
    --primary-muted: #b78447;

    --border: #312a25;
  }
}

/* todo set this up when on tailwind v4 */
/* @utility prose-gray {
  --tw-prose-body: var(--fg);
} */

html,
body {
  @apply text-fg;
}

.prose a:not(.no-prose a), .box-link {
  @apply inline-flex -ml-0.5 mr-1.5 -mt-1 bg-bg-raised dark:bg-bg-raised text-fg dark:text-fg no-underline border border-fg divide-x divide-fg;

  &.box-link {
    @apply ml-0.5;
  }

  .link-text {
    @apply -mt-0.5 -mb-1 pt-0.5 px-1.5;
  }
  &.box-link .link-text {
    @apply pt-1.5 pb-1;
  }

  .link-icon {
    @apply inline-flex items-center px-1;

    svg {
      /* Fix for Chrome svg rendering bug. */
      @apply overflow-visible;

      height: 1em;
      width: 1.2em;
    }
  }

  &:hover,
  &:focus {
    @apply bg-primary dark:bg-fg text-fg dark:text-bg border-fg outline-none;

    .link-icon {
      @apply dark:text-bg dark:border-bg;
    }

    &:focus {
      @apply border-dashed border-2 divide-x-2 divide-dashed;
    }
  }

  &[href^='#'] .link-icon,
  &[href^='/'] .link-icon {
    @apply hidden;
  }

  &[href^='https://en.wikipedia.org'] .link-icon svg {
    @apply transform scale-125;
  }
}

/* style anchor links different */
a[href^='#'] {
  @apply text-sm text-fg-muted no-underline dark:text-fg-muted;
}

.prose ol li::marker {
  @apply font-bold text-fg dark:text-fg-highlight;
}

.prose li,
.prose p,
.prose span {
  @apply break-words;
}

h1,
h2,
h3 {
  @apply text-fg dark:text-fg-highlight mb-2 mt-0 border-b border-b-fg pb-2 pl-3.5 pt-6;

  .prose & {
    @apply mt-6;
  }
}
/* Add a border above if following paragraph */
h1,
p:not(:empty) + h2, small + h2, ul + h2, ol + h2,
p:not(:empty) + h3, small + h3, ul + h3, ol + h3 {
  @apply border-t border-t-border;

  .prose & {
    @apply mt-10 pt-10;
  }
}
h2 {
  @apply scale-110 transform pb-3 pl-12 text-4xl;
}

a:hover,
a:focus {
  @apply text-fg-muted decoration-fg-muted;
}

.prose {
  h1, h2, h3 {
    @apply text-fg dark:text-fg-highlight tracking-[0.035em];
  }

  p {
    @apply mb-2 px-4 pt-1 text-justify tracking-tight;
  }

  em {
    @apply inline-block px-1 pt-1 dark:px-0 font-rakkas not-italic leading-none tracking-wide bg-primary dark:bg-transparent text-fg dark:text-fg-highlight;

    font-size: 22px;
  }
  ul,
  ol {
    @apply pl-12 pr-4;
  }
  small {
    @apply text-xs text-fg-muted;

    strong {
      @apply text-fg dark:text-fg-highlight;
    }
  }
  figure {
    @apply py-8;
      
    figcaption {
      @apply absolute top-1/3 max-w-[20rem];

      p {
        @apply block bg-border text-fg dark:text-fg border border-fg dark:border-border px-4 pb-3 pt-3.5;
      }
    }
  }
  hr {
    @apply border-0 border-t-2 my-12;
  }
  table {
    @apply w-full border-collapse border border-primary;
    th,
    td {
      @apply border border-primary px-4 py-2;
    }
  }
  pre {
    @apply font-bold bg-bg-raised text-fg-highlight border border-primary-highlight rounded-none;
  }
  .content-wrapper > p > img {
    @apply my-20 w-full scale-[120%] transform border-y py-2;
  }
}

/* First paragraph (post.html format) */
.content-wrapper > img + p:nth-child(2) {
  @apply relative z-10 -mt-4;
  /* First letter of first paragraph */
  &::first-letter {
    @apply float-left mb-0.5 mr-3 mt-1.5 bg-primary dark:bg-transparent border-2 border-solid border-fg-muted dark:border-primary px-3.5 pt-1.5 font-rakkas text-7xl text-fg dark:text-primary;

    /* For some reason Chrome and Firefox render the line-height of ::first-letter differently. */
    @supports (-moz-appearance: none) {
      & {
        @apply pt-3 pb-4;
      }
    }
  }
}

/* For use outside of .prose */
.big-letter > p:first-child::first-letter {
  @apply float-left mb-0.5 mr-3 mt-1.5 bg-primary dark:bg-transparent border-2 border-solid border-fg-muted dark:border-primary px-3.5 pt-1.5 font-rakkas text-7xl text-fg dark:text-primary;

  /* For some reason Chrome and Firefox render the line-height of ::first-letter differently. */
  @supports (-moz-appearance: none) {
    & {
      @apply pt-3 pb-4;
    }
  }
}

/* only on desktop */
@media (min-width: 1024px) {
  .prose figure {
    min-height: 417px;
  }
}

/* pretty text wrapping */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: pretty;
}
/* heading font */
h1,
h2,
h3 {
  @apply font-rakkas tracking-wide text-fg-highlight;
}

/* Blog */
.blog-card {
  /* Not a tailwind feature until v4 */
  &:nth-child(3n+1) {
    @apply pl-4 -ml-4;
  }
  &:nth-child(3n) {
    @apply border-r-0 pr-4 -mr-4;
  }
}

header-container {
  nav {
    @apply bg-bg-raised dark:bg-bg-raised border-2 border-fg;

    & > * {
      @apply relative z-30;
    }

    &::before {
      @apply content-[''] absolute top-[calc(-5rem-2px)] h-20 left-0 w-full bg-bg dark:bg-bg z-10;
    }

    ul a, a.nav-home {
      @apply bg-bg-raised dark:bg-bg-raised text-fg no-underline font-bold decoration-2 decoration-primary decoration-dashed underline-offset-4 hover:bg-primary hover:text-fg dark:hover:bg-fg dark:hover:text-bg hover:underline focus:bg-primary focus:text-fg dark:focus:bg-fg dark:focus:text-bg focus:relative focus:z-10 focus:underline focus:outline-2 focus:outline-offset-4 focus:outline-dashed focus:outline-fg;
    }
  }
}

body[data-page='/'] header-container {
  top: 20vh;

  nav {
    @apply bg-fg;

    a.nav-home {
      @apply bg-fg text-bg focus:decoration-bg dark:focus:decoration-bg decoration-bg dark:decoration-bg;

      &:hover svg {
        @apply text-primary;
      }
    }
  }
}

body[data-page^='/projects/'] header-container nav a[href='/projects/'],
body[data-page^='/blog/'] header-container nav a[href='/blog/'],
body[data-page='/contact/'] header-container nav a[href='/contact/'] {
  @apply text-bg bg-fg no-underline font-rakkas text-xl tracking-wide;
}

