<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/site-head.html" %}
</head>

<body
  class="min-h-screen flex flex-col bg-bg dark:bg-bg text-fg dark:text-fg{% if page.url == '/' %} page-home{% endif %}"
  data-env="{{ node.env }}" data-page="{{ page.url }}">
  <div id="to-top-of-page-anchor" class="absolute top-0"></div>
  <div class="flex-grow relative">
    {% include "partials/navigation.html" %}
    <div id="main-content-wrapper" class="pt-4 md:pt-16 pb-8 md:pb-12">
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer class="mt-8 md:mt-16 mb-8 md:mb-20 w-full px-4 max-w-2xl mx-auto flex gap-3">
    <a class="px-3.5 group flex justify-center items-center text-fg border border-fg dark:border-border bg-border dark:bg-bg hover:bg-primary-highlight hover:border-primary-highlight focus:bg-primary-highlight focus:border-primary-highlight focus:outline-2 focus:outline-offset-4 focus:outline-fg focus:outline-dashed"
      href="#to-top-of-page-anchor"
      onclick="(event) => { event.preventDefault(); window.scrollTo({ top: 0, behavior: 'smooth' }) }">
      <span class="sr-only">Jump back to top</span>
      <!-- overflow-visible is required to get Chrome to render the SVG correctly. -->
      <svg class="overflow-visible h-6 w-5 fill-current text-fg dark:text-fg group-hover:text-bg group-focus:text-bg" alt="">
        <use href="#back-to-top-icon" />
      </svg>
    </a>
    <div class="grow relative bg-border dark:bg-bg-raised border border-fg dark:border-none">
      <p class="px-6 pt-4 pb-3 mx-auto w-full max-w-3xl text-sm">
        Edit this page
        {% link "https://github.com/Christopher-Hayes/hayes.software/edit/main/{{ page.inputPath }}", "on GitHub" %}
      </p>

      <a href="/" class="group hidden md:block">
        <span class="sr-only">Go to homepage</span>
        <svg height="5rem" width="10rem"
          class="absolute -right-3 -top-3.5 mx-auto text-fg dark:text-bg group-hover:text-primary dark:group-hover:text-fg group-focus:text-primary dark:group-focus:text-fg group-focus:outline-2 group-focus:outline-fg group-focus:outline-offset-4 group-focus:outline-dashed"
          alt="">
          <use href="#logo" />
        </svg>
      </a>
    </div>
  </footer>
  <script type="module">
    const runDeferredScripts = async () => {
      // Dynamic import after page load
      const run = (await import('/main-on-ready.js')).run
      run()
    }

    // On idle
    window.addEventListener('load', () => {
      // Inject favicons after load to avoid font requests block render
      // Probably evil.
      [
        { rel: 'icon', href: '/favicon.svg', type: 'image/svg+xml' },
        { rel: 'alternate icon', href: '/favicon.ico', type: 'image/webp', sizes: '48x48' },
        { rel: 'apple-touch-icon', href: '/apple-touch-icon.webp', sizes: '180x180' },
        { rel: 'mask-icon', href: '/favicon.svg' },
      ].forEach(attrs => {
        const link = Object.assign(document.createElement('link'), attrs)
        document.head.appendChild(link)
      })

      if ('requestIdleCallback' in window) {
        requestIdleCallback(runDeferredScripts)
      } else {
        // Fallback for Safari 15.6
        setTimeout(runDeferredScripts, 200)
      }
    })
  </script>
</body>

</html>