{% layout "layouts/base.html" %} {% block content %}
<main id="main-content" tabindex="-1">
  <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8">
    <header
      class="mt-4 mb-4 flex flex-row flex-wrap gap-4 py-8 font-bold leading-8 text-secondary dark:text-fg"
    >
      <p class="flex h-16 w-16 items-center text-5xl leading-none">
        {{ intro.emoji }}
      </p>
      <p class="self-center pt-1 text-xl">{{ intro.desc }}</p>
    </header>
    <section class="mb-8">
      <header class="mb-4">
        <h2
          class="inline-block rounded-md bg-primary bg-opacity-10 py-1 px-2 text-3xl font-bold text-primary dark:bg-fg-dark dark:bg-opacity-10 dark:text-fg"
        >
          featured
        </h2>
      </header>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-2">
        {% assign taglist = collections['featured'] %}
        {% assign taglist = taglist | sort: 'date' | reverse %}
        {% for post in taglist %}
        <div
          class="text-secondary-dark rounded-xl border-2 border-primary border-opacity-10 transition duration-300 ease-out hover:bg-primary hover:text-white hover:transition-none dark:border-opacity-40 dark:bg-primary-dark dark:text-white"
        >
          <a
            class="flex h-full w-full flex-col justify-between p-3"
            href="{{ post.url }}"
            rel="prefetch"
            onmouseover="if (window.htmlPreload) { window.htmlPreload('{{ post.url }}') }"
          >
            <header>
              <h2 class="text-2xl font-bold">{{ post.data.title }}</h2>
              <p class="text-base">{{ post.data.description }}</p>
            </header>
            <p class="mt-2 text-sm opacity-70">
              {{ post.date | date: "%B %d, %Y" }}
            </p>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
    <div class="prose prose-lg dark:prose-invert">{{ content }}</div>
    <footer class="mt-6">
      <div class="prose prose-md mt-4 no-underline min-h-[42px] p-4 bg-white bg-opacity-70 rounded-2xl">
        <p class="mb-2">
          Edit this site <a href="https://github.com/Christopher-Hayes/hayes.software" target="_blank" rel="noopener">on github</a>. This site's <a href="https://www.11ty.dev/speedlify/hayes-software/" target="_blank" rel="noopener">speedlify score:</a>
        </p>
        <speedlify-score
          class="flex flex-wrap"
          speedlify-url="https://www.11ty.dev/speedlify"
          hash="579d941c"
          score weight rank rank-change requests
          ></speedlify-score>
      </div>
    </footer>
  </div>
</main>
{% endblock %}
