{% layout "layouts/base.html" %} {% block content %}
<main id="main-content" tabindex="-1">
  <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8">
    <div class="py-8 leading-8 mt-4 mb-4 font-bold flex flex-wrap flex-row gap-4 text-secondary dark:text-fg">
      <p class="flex items-center w-16 h-16 text-5xl leading-none">{{ intro.emoji }}</p>
      <p class="text-xl self-center pt-1">{{ intro.desc }}</p>
    </div>
    <div class="prose prose-lg dark:prose-invert">{{ content }}</div>
  </div>
</main>
{% endblock %}
