{% layout "layouts/base.html" %} {% block content %}
<script type="speculationrules">
  {
    "prerender": [
      {
        "urls": ["/", "/blog/", "/projects/"],
        "eagerness": "eager"
      }
    ],
    "prefetch": [
      {
        "where": {
          "href_matches": ["/blog/*", "/projects/*"]
        },
        "eagerness": "moderate"
      }
    ]
  }
</script>
<main id="main-content" tabindex="-1">
  <!-- bg gradient behind post-header -->
  <div class="fixed top-0 left-0 min-w-[100vw] h-[12rem] bg-gradient-to-b from-70% from-bg to-transparent pointer-events-none z-20"></div>
  <article class="relative z-10 mx-auto max-w-2xl border border-fg dark:border-bg-raised">
    <header>
      <h1 class="mt-12 mb-4 pt-12 pb-6 px-12 self-center text-fg text-5xl leading-normal transform scale-110">
        {{ intro.desc }}
      </h1>
    </header>
    <div class="py-2 prose prose-lg dark:prose-invert">{{ content }}</div>
  </article>
</main>
{% endblock %}