{% layout "layouts/base.html" %}
{% block content %}
<script type="speculationrules">
  {
    "prerender": [
      {
        "urls": ["/", "/blog/", "/projects/"],
        "eagerness": "eager"
      }
    ],
    "prefetch": [
      {
        "where": {
          "href_matches": ["/blog/*", "/projects/*"]
        },
        "eagerness": "moderate"
      }
    ]
  }
</script>
<main id="main-content" tabindex="-1"
>
  <!-- bg gradient behind post-header -->
  <div
    class="fixed top-0 left-0 min-w-[100vw] h-[14rem] bg-gradient-to-b from-50% from-bg to-transparent pointer-events-none z-20">
  </div>
  <article class="flex flex-col mx-auto max-w-2xl border-x border-border">
    <header>
      <h1 class="px-12 pt-20 self-center text-fg font-rakkas text-6xl leading-normal border-t-0 transform scale-110">
        Projects
      </h1>
      <div class="prose prose-lg mt-8 -mb-7 px-6 pb-0 pt-2">
        <div class="relative mt-2">
          <img src="/images/first-letter-bg-1.svg" alt="" class="absolute z-0 -left-4 -top-20 w-32 h-32 pointer-events-none opacity-10 dark:opacity-100">
          <div class="big-letter relative z-10 mt-0">
            <p>
              {{ intro.desc }}
            </p>
          </div>
        </div>
      </div>
    </header>
    <section class="mt-12">
      <div class="ml-[-1px] mr-[-1px] grid grid-cols-1 md:grid-cols-3 border-x border-fg dark:border-primary">
        {% for post in collections.projects %}
          <a
            href="{{ post.url }}"
            class="blog-card group my-4 border border-l-0 border-fg dark:border-primary flex no-underline"
            rel="prefetch"
            onmouseover="if (window.htmlPreload) { window.htmlPreload('{{ post.url }}') }"
            >
            <div class="flex flex-col divide-y divide-fg dark:divide-primary bg-bg-raised group-hover:bg-primary dark:group-hover:bg-fg-highlight group-hover:text-bg dark:group-hover:divide-bg group-focus:bg-primary dark:group-focus:bg-fg-highlight dark:group-focus:divide-bg group-focus:outline-2 group-focus:outline-offset-4 group-focus:outline-dashed group-focus:outline-fg group-focus:relative group-focus:z-10">
              <div class="grow px-2 py-2.5 flex items-center">
                <span
                  class="text-3xl leading-7 font-display text-fg dark:group-hover:text-bg">
                  {{ post.data.title }}
                </span>
              </div>
              <div class="flex divide-x divide-fg dark:divide-primary text-xs text-fg-highlight group-hover:text-fg dark:group-hover:text-bg group-focus:text-fg dark:group-hover:divide-bg dark:group-focus:divide-bg">
                <div class="grow px-2 pt-1 pb">
                  {{ post.date | date: "%Y" }}
                </div>

                <div class="py-0 flex items-center divide-x divide-fg dark:divide-primary dark:group-hover:divide-bg dark:group-focus:divide-bg">
                  {% for tag in post.data.tags limit:2 %}
                    {% if tag == 'three' %}
                      <div class="px-2 pt-1 pb">THREE.js</div>
                    {% elsif tag == 'js' %}
                      <div class="px-2 pt-1 pb">Vanilla JS</div>
                    {% elsif tag == 'alpine' %}
                      <div class="px-2 pt-1 pb">Alpine.js</div>
                    {% elsif tag == 'webgl' %}
                      <div class="px-2 pt-1 pb">WebGL</div>
                    {% elsif tag == 'webgpu' %}
                      <div class="px-2 pt-1 pb">WebGPU</div>
                    {% elsif tag == 'playcanvas' %}
                      <div class="px-2 pt-1 pb">PlayCanvas3D</div>
                    {% elsif tag == 'node' %}
                      <div class="px-2 pt-1 pb">Node.js</div>
                    {% elsif tag != 'featured' %}
                      <div class="capitalize px-2 pt-1 pb">{{ tag }}</div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}

        <!-- Fill last row with empty cells if not divisible by 3 -->
        {% assign lastMod = collections.projects.size | modulo: 3 %}
        {% if lastMod == 1 %}
          <div class="my-4 border-y border-border"></div>
          <div class="my-4 border-y border-border"></div>
        {% elsif lastMod == 2 %}
          <div class="my-4 border-y border-border"></div>
        {% endif %}
      </div>
    </section>
    <section class="-mt-3 pb-6 border-b border-border">
      <header>
        <h2 class="px-12 pt-12 border-t-0 self-center text-fg font-rakkas text-6xl leading-normal transform scale-110">
          Add yours
        </h2>
      </header>
      <div class="flex items-start">
        <div class="grow w-full big-letter">
          <p class="max-w-[24rem] mt-5 mb-2 px-6 pb-0 prose prose-lg text-justify">
            I work on all kinds of projects. Feel free to reach out if you have something I can lend my skills to.
          </p>
        </div>
        <div class="mr-8 mt-6 w-full max-w-[18rem] bg-bg-raised flex flex-col border border-primary-highlight divide-y divide-fg">
          <header class="no-prose w-full relative flex border-b border-fg bg-fg text-bg">
            <h3 class="px-4 pt-1.5 pb-1 mb-0 border-none text-bg text-2xl">
              Contact
            </h3>
            <svg height="4rem" width="8rem"
              class="absolute -right-2 -top-3 mx-auto group-hover:text-primary dark:group-hover:text-fg group-focus:text-primary dark:group-focus:text-fg"
              alt="">
              <use href="#logo" />
            </svg>
          </header>
          <div class="flex divide-x divide-fg">
            <label class="px-2 pt-1 pb-0.5 font-bold">
              Email
            </label>
            <a href="mailto:hello+h.s@hayes.software"
              class="grow px-2 pt-1 pb-0.5 hover:bg-primary hover:text-fg dark:hover:text-bg focus:bg-primary focus:text-fg dark:focus:text-bg">
              hello@hayes.software
            </a>
          </div>
          <div class="flex divide-x divide-fg">
            <label class="px-2 pt-1 pb-0.5 font-bold">
              Fediverse
            </label>
            <a href="https://nutmeg.social/@chris" target="_blank" rel="noopener"
              class="px-2 pt-1 pb-0.5 hover:bg-primary hover:text-fg dark:hover:text-bg focus:bg-primary focus:text-fg dark:focus:text-bg">
              @chris@nutmeg.social
            </a>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
{% endblock %}
