<header-container class="relative z-50">
  <header class="sticky top-4 md:top-16 px-4 md:px-0">
    <nav class="relative mx-auto max-w-2xl h-12 px-0">
      <div
        class="h-full flex flex-row-reverse md:flex-row md:flex-wrap md:items-center justify-between divide-x-2 divide-fg">
        <ul class="h-full flex divide-x-2 divide-fg border-l-2 border-fg md:border-l-0">
          {% for item in navigation.items %}
          <li class="h-full">
            <!-- NOTE: Width set in site-head.html to prevent layout shift -->
            {% assign is_current_page = false %}
            {% if page.url == item.url %}{% assign is_current_page = true %}{% endif %}
            <a href="{{ item.url }}"
              class="
                h-full text-center text-sm md:text-base flex justify-center items-center px-4 py-1 pb-0.5 hover:decoration-fg dark:hover:decoration-bg focus:decoration-fg dark:focus:decoration-bg"
              aria-current="{% if is_current_page %}page{% endif %}"
              rel="prefetch"
              onmouseover="if (window.htmlPreload) { window.htmlPreload('{{ item.url }}') }">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <a
          href="/" class="nav-home grow h-full block"
          rel="prefetch"
          onmouseover="if (window.htmlPreload) { window.htmlPreload('/') }"
          >
          <span class="h-full flex items-center px-4 md:px-6 py-1 pb-0.5 text-sm md:text-base">
            Home
          </span>
          <div class="absolute hidden md:block -right-2 -top-3">
            <svg height="4rem" width="9rem" aria-hidden="true" focusable="false">
              <use href="#logo" />
            </svg>
          </div>
        </a>
      </div>
    </nav>
  </header>
</header-container>