{% if intro.image.light %}
  <figure x-data="{ showImageOverlay() { this.$dispatch('show-image-overlay', this.$refs.img.currentSrc); } }"
    class="group relative z-30 post-top-image">
      <picture>
        {% if intro.image.dark %}
          <source
            media="(prefers-color-scheme: dark)"
            srcset="{{ intro.image.dark }}"
            {% if intro.image.alt.dark %}
              alt="{{ intro.image.alt.dark }}"
            {% endif %}
            >
        {% endif %}
        {% if intro.image.light %}
          <source
            media="(prefers-color-scheme: light)"
            srcset="{{ intro.image.light }}"
            {% if intro.image.alt.light %}
              alt="{{ intro.image.alt.light }}"
            {% endif %}
            >
        {% endif %}
        <img
          x-ref="img"
          {% if intro.image.light %}
            src="{{ intro.image.light }}"
          {% else %}
            src="{{ intro.image.dark }}"
          {% endif %}
          {% if intro.image.alt.light %}
            alt="{{ intro.image.alt.light }}"
          {% elsif intro.image.alt.dark %}
            alt="{{ intro.image.alt.dark }}"
          {% else %}
            alt="{{ intro.image.alt }}"
          {% endif %}
          width="100%"
          class="relative z-0 w-full h-full object-cover object-center mx-0 mt-16 mb-24 border-2 border-border transform scale-150"
          loading="eager"
          >
      </picture>
    </button>
      <figcaption
        class="w-full flex gap-4 text-sm text-justify -mt-0 -mb-3 pr-4"
        style="right: -34rem;"
        >
        <img src="/images/alt-text-icon.svg" alt="" class="w-7 h-7 mt-8">
        <div class="flex flex-col items-start gap-1">
          <p>
          <span class="hidden dark:block">
            {% if intro.image.alt.dark %}
              {{ intro.image.alt.dark }}
            {% else %}
              {{ intro.image.alt }}
            {% endif %}
          </span>
          <span class="block dark:hidden">
            {% if intro.image.alt.light %}
              {{ intro.image.alt.light }}
            {% else %}
              {{ intro.image.alt }}
            {% endif %}
          </span>
        </p>
    <button @click="showImageOverlay()"
      class="text-fg dark:text-fg-highlight border border-fg dark:border-bg-raised px-3 pt-2 pb-1 hover:bg-primary hover:border-fg dark:hover:border-bg hover:text-fg dark:hover:text-bg focus:bg-primary focus:border-fg dark:focus:border-bg focus:text-fg dark:focus:text-bg">
      Enbiggen image
    </button>
  </div>
      </figcaption>
  </figure>
{% endif %}
